---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'CUIDAR CONSULTORIOS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Turnos',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:calendar',
      },
      { text: 'Blog', href: '/blog' },
    ]}
    image={{ src: '~/assets/images/doctors-hero.png', alt: 'Cuidar Hero Image' }}
  >
    <Fragment slot="title">
      <span class="text-cuidar dark:text-white highlight">CUIDAR</span> 
      <span class="text-4xl md:text-6xl">Consultorios</span>
       
    </Fragment>

    <Fragment slot="subtitle">
      En Paraná
      <span class="font-bold">cuidamos</span> la salud de una manera integral.
      <span class="hidden sm:inline"> Nos enfocamos en prevenir problemas relacionados al proceso
        salud-enfermedad, lo que puede ayudar a las personas a mantener una buena calidad de vida a largo plazo.</span>     
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Visión"
    title="Pilares que guían nuestra práctica"
    subtitle="Resaltamos la prevención, la personalización, la participación activa del paciente y el abordaje integral como promotor de la salud."
    items={[
      {
        title: 'Basado en evidencias',
        description:
          'Enfoque busca integrar la mejor evidencia disponible con la experiencia clínica y el juicio profesional para proporcionar la mejor atención posible a los pacientes.',
        icon: 'tabler:file-certificate',
      },
      {
        title: 'Prevención',
        description:
          'El objetivo principal es prevenir y promover la salud de la población.',
        icon: 'tabler:apple',
      },
      {
        title: 'Tamizaje',
        description:
          'Asesoramiento para la realización de pruebas de tamizaje en relación a la edad y antecedentes.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Educación',
        description:
          'Comunicación efectiva y clara para proporcionar información precisa y útil para ayudar a tomar decisiones informadas.',
        icon: 'tabler:school',
      },
      {
        title: 'Colaboración',
        description:
          "Colaboración y referencia a otros profesionales de la salud cuando sea necesario.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Profesionalismo',
        description:
          'Integridad, honestidad, compasión y respeto por los pacientes.',
        icon: 'tabler:first-aid-kit',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    id="demandaespontanea"
    isReversed
    tagline="Consulta"
    title="Demanda Espontánea"
    items={[
      {
        title: 'Turnos presenciales limitados',
        description:
          'Los turnos para Demanda Espontánea se otorgan por orden de llegada y tiene cupos limitados (6), solo se podrán solicitar de manera presencial.',
      },
      {
        title: 'Días y Horarios',
        description:
          'Lunes, Miercoles y Viernes de 10 a 15 hs.',
      },
      {
        title: 'NO deben asistir pacientes',
        description:
          'Con Urgencias o Emergencias médicas (dolor en el pecho, dificultad en el habla, parálisis, traumatismos graves, etc). En estos casos llamar al 107 y al 911.',
      },
    ]}
    image={{
      src: '~/assets/images/doctor-patient.jpg',
      alt: 'Ilustración de un médico y paciente',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Atención médica sin turno previo.</h3>
      Si usted requiere de atención médica, y no puede acceder a la turnera digital, podrá tener una consulta acercandose a nuestros consultorios. No es una guardia de emergencias.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
 
  <!-- Steps Widget ****************** -->

  <Steps
    id="turnosweb"
    title="Turnos a través de la página web."
    items={[
      {
        title: 'Comodidad y ahorro de tiempo.',
        description:
          "Se puede solicitar su turno desde cualquier lugar con acceso a Internet las 24 horas del día, sin necesidad de esperas en el teléfono o ir personalmente a los consultorios.",
        icon: 'tabler:hourglass',
      },
      {
        title: 'Organización.',
        description:
          "Permite al escoger fecha y hora que más le convenga de acuerdo a su disponibilidad y la agenda del profesional.",
        icon: 'tabler:calendar-month',
      },
      {
        title: 'Recordatorio',
        description:
          'El sistema puede enviar recordatorios por correo electrónico sobre los detalles del turno, disminuyendo las posibilidades de olvidos.',
        icon: 'tabler:alarm',
      },
      {
        title: 'Pedí tu turno web!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts>
    title="Encuentra contenido de interés en nuestro Blog"
    information={`
    Publicaciones realizadas por profesionales sanitarios con el objetivo de educar a los lectores
    sobre temas relacionados a la salud en general. Cada entrada tiene su respectiva bibliografía 
    con licencia libre Creative Commons. El blog ofrece una herramienta educativa que
    permite a los pacientes capacitarse activamente sobre su proceso de salud enfermedad.
                 `}

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>            
  </BlogLatestPosts>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas Frecuentes"
    subtitle="Algunas preguntas frecuentes de pacientes relacionadas con los consultorios médicos CUIDAR."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Que especialidades médicas trabajan?',
        description:
          "En nuestros consultorios contamos con especialistas en Medicina General y en Dermatología.",
      },
      {
        title: '¿Cómo obtengo un turno para una consulta?',
        description:
          'Existen dos maneras de obtener un turno con un profesional. La primera es a través de nuestra página web de manera digital y la segunda a través del consultorio de demanda espontánea.',
      },
      {
        title: '¿Cómo solicito un turno web?',
        description:
          "Los turnos web se solicitan desde la comodidad de su hogar ingresando a la turnera digital.",
      },
      {
        title: "¿Como solicito un turno de demanda espontánea?",
        description:
          "Los turnos de demanda espontánea se solicitan en nuestros consultorios de manera presencial. Los mismos son limitados.",
      },
      {
        title: '¿Se pueden cancelar o reprogramar los turnos web con anticipación?',
        description:
          "Los turnos web se pueden cancelar o reprogramar con 24 horas de anticipación a través del correo electrónico enviado al solicitarlo.",
      },
      {
        title: '¿Qué debo llevar a mi cita?',
        description:
          "Los pacientes deben traer todos los estudios médicos anteriores, identificación e información de obras social o prepaga.",
      },
      {
        title: '¿Hay algo más que deba saber antes de mi turno?',
        description:
        "Se recomienda llegar a tiempo a la consulta para realizar con comodidad trámites administrativos."
      }
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Turnos Web',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Solicitá tu turno web
    </Fragment>

    <Fragment slot="subtitle">
      No esperes más para <span class="font-bold">CUIDAR</span> tu salud.
    </Fragment>
  </CallToAction>
</Layout>
